
<tr *ngIf="!isUpdate" (dblclick)="editUser()">
  <td>{{user.id}}</td>
  <td>{{user.name}}</td>
  <td>{{user.lastname}}</td>
  <td>
    <div class="checkbox">
      <label>
        <input [checked]="isChecked" (change)="isChecked = !isChecked" class="chck_delete" type="checkbox" value="">        
      </label>
    </div>
  </td>
</tr>


<tr *ngIf="isUpdate">
  
  <td>{{userEdit.id}}</td>
  <td><input type="text" id="name" pattern="[A-Za-z0-9\s]{2,}"  [(ngModel)]="userEdit.name" class="form-control" required></td>
  <td><input type="text" id="lastname" pattern="[A-Za-z0-9\s]{2,}"   [(ngModel)]="userEdit.lastname" class="form-control" required></td>
  <td>
    <button class="btn btn-primary btn-xs"  type="button" (click)="saveUser(userEdit)">Guardar</button>
    <button class="btn btn-primary btn-xs"  type="button" (click)="cancelEdit()">Cancelar</button>
  </td>
 
</tr>

