<div class="panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title">Gestionar Usuarios</h3>
  </div>
  <div class="panel-body">
    
    <div id="form">
      <form [formGroup]="formListUsers" data-toggle="validator" role="form" (ngSubmit)="getUsers()" class="form-inline ">
          <div class="form-group">
            <label for="numrecords"  class="control-label">Número de registros</label>
            <input type="number" pattern="[0-9]{5}" class="form-control" id="numrecords" min="1"  formControlName="numrecords" required>
          </div>
          <div class="form-group">
            <label for="tipoorden"  class="control-label">Tipo de orden</label>
            <select type="typeorder" class="form-control" id="typeorder" formControlName="typeorder" required>
              <option value="asc" selected>Ascendente</option>
              <option value="desc">Descendente</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary"  type="submit" >Consultar</button>
          </div>
      </form>
      <div id="divShowErrors" class="alert alert-danger alert-dismissible" role="alert" *ngIf="errors">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cleanMsgs()"><span aria-hidden="true">&times;</span></button>
            {{errors}}
      </div>
    </div>

    <div id="listUsers" class="table-responsive"  *ngIf="_dataStore.users && _dataStore.users?.length > 0 " >
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th> 
              <div class="row">
                <div class="col-lg-12">   
                  <button class="btn btn-primary btn-xs"  type="button" (click)="confirmDeleteUsers()">Eliminar</button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label>
                    <input class="chckall_delete" (change)="checkDeleteAll()" type="checkbox" value="">
                    Todos
                  </label>     
                </div>    
              </div>               
            </th>
          </tr>
        </thead>
        
        <tbody class="app-record" [isChecked]="checkAll" [user]="user" [isUpdate]="false" *ngFor="let user of _dataStore.users | paginate: { 
                                itemsPerPage: infoPagination.itemsPerPage, 
                                currentPage: infoPagination.currentPage, 
                                totalItems: infoPagination.total}">
        </tbody>  
        <tbody>
          <tr>  
            <td colspan="3"></td>
            <td>
              <button class="btn btn-primary btn-xs"  type="button" (click)="confirmDeleteUsers()">Eliminar</button>
            </td>
          </tr>
        </tbody>      
      </table>
                
      <pagination-controls class="pags_pagination" maxSize="10" previousLabel="Ant" nextLabel="Sig" (pageChange)="pageChanged($event)"></pagination-controls>
    


    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="!_dataStore.users || _dataStore.users?.length == 0" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        No se obtuvieron resultados.
    </div>

  </div>
</div>



